<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!-- <head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--  <title>Document</title>-->
<!-- </head>-->
<!-- <body>-->
<!--  <table>-->
<!--   {% for key, value in guest.items() %}-->
<!--  <tr>-->
<!--    <td>{{ key }}</td>-->
<!--    <td>{{ value }}</td>-->
<!--  </tr>-->
<!--   {% endfor %}-->
<!--  </table>-->

<!--  <hr>-->

<!--  <a href="{{ url_for('guests_get') }}">Main Page</a>-->

<!-- {% if message  %}-->
<!--  <ul class=flashes>-->
<!--  {% for category, message in message  %}-->
<!--   <li class='{{ category }}'>{{ message }}</li>-->
<!--  {% endfor %}-->
<!--  </ul>-->
<!-- {% endif %}-->
<!-- </body>-->
<!--</html>-->
